/*header*/
.log-reg{
	background-color: black;
}

/*header button*/
.log-reg > button{
	color: white;
}

.log-reg > button:hover{
	text-decoration: underline;
	color: white;
}

.log-reg > button:focus{
	color: white;
}

.modal-button button{
	float: right;
	border-radius: 5px;
}

header img[alt*="logo"]{
	width: 50%;
}

.header-image{
	width: 100%;
}

.header-image img[alt*="Place"]{
	width: 100%;
	margin-bottom: 10px;
}


.navbar{
	border-radius: 0;
	margin: 0;
}

#myCarousel{
	margin-bottom: 20px;
}

.posts .posts-image{
	width:40%;
}

.posts .posts-image img{
	float: left;
	height: 100%;
	width: 100%;
	margin-right : 10px; 
}

.news-image img[alt*="news"]{
	width: 100%;
}

.modal-body > .modal-button > .login > a{
	color: white;
}

footer{
	background-color: black;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: rgba(255,255,255,0.7);
}

textarea{
	width: 100%;
	min-height: 100px;
}
iframe{
	width: 100%;
}

.social-icons > .fa{
margin-right: 5px;
}

.fa-stack:hover{
color: black;
}
.fa-stack i:hover{
color: white;
cursor: pointer;
}
.fa-stack i before:hover{
color: red
}

.form-group > .btn-primary > a{
	color: white;
}

.log-reg > .btn-link > a{
	color: white;
}

.posts-content > a{
	color: black;
	font-weight: bold;
}

.clear:after{
	content: "";
	display: block;
	clear: both;
}
